.face-img {
  display: flex;
  width: 500px;
  height: auto;
}

.error {
  z-index: -10;
}

.err-msg {
  color: red;
  font-size: x-large;
}

.bounding-box {
  position: absolute;
  box-shadow: 0 0 0 3px #149df2 inset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}
